.draggable-node {
  cursor: grab;
  min-width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: #1c2536;
  border : 1px solid ; 
  border-color:  #4f46e5 ;
  font-size: 14px;
  font-weight: 600;
}

.draggable-node:active {
  cursor: grabbing;
}

.draggable-label {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}